<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlatziCommerce</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <h3>PlatziCommerce</h3>
        <button class="cart" @click="cartOpen = !cartOpen">
          Carro ({{cart.length}})
        </button>
        <div class="cart-content" v-show="cartOpen">
          <div
            class="cart-content__product"
            v-for="(product, index) in cart"
            :key="product.name"
            :class="{ 'bg-gray': index & 1 }"
          >
            <img
              :src="product.images[0].image"
              :alt="product.name.toUpperCase()"
            />
            <span>
              {{ product.name }} - $ {{ new
              Intl.NumberFormat("en-EN").format(product.price) }}
              ({{product.quantity}})
            </span>
          </div>
          <p>Total: $ {{ new Intl.NumberFormat("en-EN").format(total) }}</p>
        </div>
      </header>

      <main>
        <product
          v-for="product in products"
          :key="product.name"
          :product="product"
          @sendtocart="addToCart($event)"
        ></product>
      </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, reactive, toRefs, watch, computed, onMounted } =
        Vue;

      const app = createApp({
        setup() {
          const products = ref([]);
          const cartState = reactive({
            cartOpen: false,
            cart: [],
            // total: 0,
            total: computed(() => {
              return cartState.cart.reduce((prev, curr) => {
                const prevPrice = prev.price || prev;
                const prevQuantity = prev.quantity || 1;
                return prevPrice * prevQuantity + curr.price * curr.quantity;
              }, 0);
            }),
          });
          // const total = computed(() => {
          //   return cartState.cart.reduce((prev, curr) => {
          //     const prevPrice = prev.price || prev;
          //     const prevQuantity = prev.quantity || 1;
          //     return prevPrice * prevQuantity + curr.price * curr.quantity;
          //   }, 0);
          // });

          function addToCart(product) {
            const prodIndex = cartState.cart.findIndex(
              (prod) => prod.name === product.name
            );
            console.log(prodIndex);
            if (prodIndex >= 0) {
              cartState.cart[prodIndex].quantity += 1;
            } else {
              cartState.cart.push(product);
            }
            product.stock -= 1;
          }

          // watch(cartState.cart, (value, oldValue) => {
          //   cartState.total = cartState.cart.reduce((prev, curr) => {
          //     const prevPrice = prev.price || prev;
          //     const prevQuantity = prev.quantity || 1;
          //     return prevPrice * prevQuantity + curr.price * curr.quantity;
          //   }, 0);
          // });

          onMounted(() => {
            console.log("mounted");
          });

          // setup() === created()
          fetch("https://my-json-server.typicode.com/iosamuel/demo/products")
            .then((res) => res.json())
            .then((data) => {
              products.value = data;
            });

          return {
            products,
            ...toRefs(cartState),

            // total,

            addToCart,
          };
        },
      });
    </script>
    <script src="./Product.js"></script>
    <script src="./Badge.js"></script>
    <script>
      app.mount("#app");
    </script>
  </body>
</html>
